html {
  box-sizing: border-box;
  font-size: 16px;
}

/* Colors */
:root {
  --backgroud-color: #010630;
  --secondary-color: #5204FE;
  --text-color: #fff;
  --em-color: #F508FF;
}

/* Universal styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--backgroud-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 500;
}

em {
  font-style: normal;
  color: var(--em-color);
}

h1, h2, h3 {
  font-family: 'Chakra Petch', sans-serif;
}

.button {
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;
  background: linear-gradient(to right, #5204FE, #F508FF);
  text-wrap: nowrap;
}

/* Specific Styles */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  padding: 1rem 0;
  width: 1135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 4rem;
  height: auto;
}

nav h1 {
  display: none;
}

.nav-links {
  width: 40%;  
}

.nav-links a {
  font-weight: 300;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline;
}

/* Navbar media queries */
@media only screen and (max-width: 1200px) {
  nav {
    margin: 0 2rem;
  }

  .nav-links {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  nav h1 {
    display: block;
  }

  .nav-links {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  nav {
    margin: 0 1rem;
  }
}

/* Hero Section */
.hero {
  padding-top: 8rem;
  height: 35rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #010630, #02094a);
}

.hero .center {
  width: 1135px;
}

.hero .content {
  height: 100%;
  display: flex;
}

.hero .text {
  flex-shrink: 5;
}

#sifu-logo {
  flex-shrink: 1;
}

#sifu {
  display: none;
}

.hero h1 {
  margin: 0;
  padding-top: 3rem;
  font-size: 6rem;
  line-height: 1.2;
}

.hero .text {
  flex-shrink: 2;
}

.hero .actions {
  padding-top: 2.5rem;
  display: inline-flex;
  justify-content: flex-start;
  gap: 1.5rem;
} 

.hero .content .button {
  display: inline-block;
}

@media only screen and (max-width: 1200px) {
  .hero .center {
    width: 100%;
  }

  .hero {
    padding-left: 2rem; 
    padding-right: 2rem;
  }

  .hero h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .hero {
    height: 30rem;
  }

  .hero h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 854px) {
  .hero h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 750px) {
  .hero {
    height: 25rem;
  }

  .hero h1, .hero p {
    text-align: center;
  }

  .hero p, .hero a {
    font-size: .8rem;
  }

  #sifu-logo {
    display: none;
  }

  .hero .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media only screen and (max-width: 430px) {
  .hero h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 350px) {
  .hero h1 {
    font-size: 2.125rem;
  }
}

/* About us section */


/* Persons */
.person img {
  width: 100px;
  height: auto;
}