html {
  box-sizing: border-box;
  font-size: 16px;
}

/* Colors */
:root {
  --backgroud-color: #010630;
  --secondary-color: #5204FE;
  --text-color: #fff;
  --em-color: #F508FF;
}

/* Universal styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--backgroud-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 500;
}

em {
  font-style: normal;
  color: var(--em-color);
}

h1,
h2,
h3 {
  font-family: 'Chakra Petch', sans-serif;
  text-transform: uppercase;

}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 1135px;
}

.content {
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .center {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 520px) {
  .center {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.button {
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;
  background: linear-gradient(to right, #5204FE, #F508FF);
  text-wrap: nowrap;
}

section h2 {
  font-size: 3rem;
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  section h2 {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 768px) {
  section h2 {
    font-size: 2.3rem;
  }

  .text h2, .text p {
    text-align: center;
  }
}

@media only screen and (max-width: 520px) {
  .content {
    padding: 4rem 0;
  }

  section h2 {
    font-size: 1.8rem;
  }
}

/* Specific Styles */
header {
  /* position: fixed;
  top: 0; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #010630, #02094a);
}

nav {
  padding: 1rem 0;
  width: 1135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 4rem;
  height: auto;
}

nav h1 {
  display: none;
}

.nav-links {
  width: 40%;
}

.nav-links a {
  transition: text-shadow .5s ease;
}

.nav-links a:hover {
  text-shadow: 0 0 5px white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline;
}

/* Navbar media queries */
@media only screen and (max-width: 1200px) {
  nav {
    margin: 0 2rem;
  }

  .nav-links {
    width: 50%;
  }

}

@media only screen and (max-width: 768px) {
  nav h1 {
    display: block;
  }

  .nav-links {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  nav {
    margin: 0 1rem;
  }
}

/* Hero Section */
.hero {
  /* padding-top: 8rem; */
  height: 37rem;
  display: flex;
  justify-content: center;
  align-items: unset;
  background: linear-gradient(to right, #010630, #02094a);
}

.hero .content {
  height: 100%;
  padding: 0;
  align-items: unset;
}

.hero .text {
  flex: 2 1;
}

#sifu-logo {
  flex: 1 1;
}

#sifu {
  display: none;
}

.hero h1 {
  margin: 0;
  padding-top: 4rem;
  font-size: 5.7rem;
  line-height: 1.2;
}

.hero .actions {
  padding-top: 2.5rem;
  display: inline-flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.hero .button {
  display: inline-block;
}

.hero .button:last-child {
  background: none;
  outline: 2px solid #d603de;
}

@media only screen and (max-width: 1200px) {
  .hero {
    height: 32rem;
  }

  .hero h1 {
    font-size: 5rem;
  }

  .hero .center {
    padding: 0;
  }

  .hero .content {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .hero {
    height: 30rem;
  }

  .hero h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 854px) {
  .hero h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 750px) {
  .hero {
    height: 25rem;
  }

  .hero h1,
  .hero p {
    text-align: center;
  }

  #sifu-logo {
    display: none;
  }

  .hero .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media only screen and (max-width: 520px) {
  .hero .content {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 430px) {
  .hero h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 350px) {
  .hero h1 {
    font-size: 2.125rem;
  }
}

/* About us section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .content {
  gap: 3rem;
  flex-wrap: wrap;
}

.about .text {
  flex: 1.3 1 30rem;
  /* order: 2; */
  /* text-align: right; */
}

.about .card-container {
  /* order: 1; */
  flex: 1 1 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.card {
  /* width: 47%; */
  flex: 1 1;
  min-width: 11.5rem;
  /* max-width: 15rem; */
  height: 9rem;
  border-radius: 1rem;
  background-color: #1b0057;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h3,
.card p {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.card h3 {
  font-size: 2.5rem;
}

.card p {
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .about .text {
    text-align: center;
  }

  .card {
    min-width: unset;
    flex: 1 1 45%;
  }
}

@media only screen and (max-width: 520px) {
  .card h3 {
    font-size: 2rem;
  }

  .card p {
    padding: 0 .5rem;
  }
}

@media only screen and (max-width: 435px) {
  .card {
    flex: 1 1 40%;
  }

  .card h3 {
    font-size: 1.5rem;
  }
}



/* Popular Games */
.popular {
  background: linear-gradient(to left, #010630, #02094a);
}

.popular .content {
  flex-direction: column;
}

.popular .text {
  width: 70%;
  text-align: center;
}

@media only screen and (max-width: 520px) {
  .popular .text {
    width: 100%;
  }
}

.popular h2 {
  margin: 0;
}

.gallery {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 3rem 1rem;
  flex-wrap: wrap;
}

.item {
  border-radius: 1.5rem;
  flex: 1 1;
  min-width: 200px;
  height: 30rem;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

@media only screen and (max-width: 480px) {
  .item {
    height: 24rem;
  }
}

.item:nth-child(1) {
  background-image: url('../images/sifu-game.jpg');
}

.item:nth-child(2) {
  background-image: url('../images/hades-game.jpg');
}

.item:nth-child(3) {
  background-image: url('../images/okami-game.jpg');
}

.item:nth-child(4) {
  background-image: url('../images/journey-game.jpg');
}

.item:nth-child(5) {
  background-image: url('../images/hades-game.jpg');
}

.item:nth-child(6) {
  background-image: url('../images/-game.jpg');
}

.item-filter {
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0;
  transition: padding-bottom .3s ease;
}

.item:hover {
  outline: .1rem solid grey;
}

.item-filter:hover {
  /* align-items: center; */
  padding-bottom: 2rem;
}

/* Persons */
.team .content {
  flex-direction: column;
}

.people {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.team .text {
  width: 70%;
  text-align: center;
}

.team h2 {
  margin: 0;
}

.people {
  display: flex;
  gap: 2rem;
}

.person {
  flex: 1 1;
  height: fit-content;
  min-width: 16rem;
  max-width: 17rem;
  background-color: #02083d;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* 
.profile-pic {
  border: 1px solid #5204FE;
} */

.person img {
  width: 15rem;
  height: auto;
  border-radius: 1rem;
  border: 2px solid #5204FE;
}

.person .name-role {
  text-align: center;
}

.name-role h4 {
  margin-top: 1rem;
  margin-bottom: 0;
} 

.name-role p {
  font-size: 0.8rem;
}

@media only screen and (max-width: 993px) {
  .people {
    justify-content: center;
  }
}

@media only screen and (max-width: 588px) {
  .team .text {
    width: 100%;
  }
}

/* Footer */
footer {
  padding-top: 6rem;
  background: linear-gradient(to right, #010630, #02094a);
  display: flex;
  justify-content: center;
}

footer .content {
  padding: 0;
}

.newsletter {
  padding: 4rem;
  border-radius: 1rem;
  border: 2px solid #ffffff99;
  background-color: #02094a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.newsletter h2 {
  font-size: 2rem;
  margin: 0;
}

.email-list  {
  width: 100%;
  display: flex;
  justify-content: center;
}

.email-list form {
  width: 60%;
  padding: .6rem .9rem .6rem 1.5rem;
  border-radius: 3rem;
  border: 1px solid #5204FE;
  display: flex;
  justify-content: space-between;
}

.email-list input[type='email'] {
  flex: 1 1;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: .9rem;
}

.email-list input[type='email']:focus {
  outline: none;
  border: none;
}

form .button {
  border-radius: 10rem;
  padding: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form img {
  width: 1.25rem;
  height: auto;

}

@media only screen and (max-width: 830px) {
  .email-list form {
    width: 100%;
  }
}

@media only screen and (max-width: 620px) {
  .newsletter h2 {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 560px) {
  .newsletter {
    padding: 3rem 2rem;
  }

  .newsletter h2 {
    font-size: 1.7rem;
  }

  .newsletter p {
    font-size: .9rem;
  }
}
@media only screen and (max-width: 460px) {
  .newsletter h2 {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 420px) {
  .newsletter {
    padding: 3rem 1rem;
  }
}

@media only screen and (max-width: 360px) {
  .newsletter h2 {
    padding: 0 1rem;
  }
}

.info, .socials, .contact, .phone, .email, .copy {
  display: flex;
  align-items: center;
}

.info {
  margin-top: 4rem;
  padding: 2rem 0;
  border-top: 2px solid #5204FE;
  border-bottom: 2px solid #5204FE;
  justify-content: space-between;
}

.socials {
  flex: 1.5 1;
  justify-content: flex-start;
}

.contact {
  flex: 2.5 1;
  justify-content: flex-end;
  gap: 2rem;
}

.socials, .phone, .email {
  gap: 1rem;
  flex-wrap: wrap;
  text-wrap: nowrap;
}

.copy {
  font-size: 0.8rem;
  padding: 2rem 0;
  justify-content: center;
  color: rgba(255, 255, 255, 0.45);
}

.copy p:nth-child(1) {
  padding-right: 1rem;
  border-right: 1px solid rgba(255, 255, 255, 0.45);
}

.copy p:last-child {
  padding-left: 1rem;
}

.info img {
  width: 1.2rem;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 2rem;
}

@media only screen and (max-width: 827px) {
  .socials p, .phone p, .email p {
    margin: 0;
  }

  .socials p {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    flex-wrap: wrap;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 440px) {
  .info, .contact, .phone, .email {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .socials {
    justify-content: center;
    text-align: center  ;
  }

  .info {
    gap: 2.5rem;
  }
}